obj/ArtSigner.csproj.nuget.dgspec.json
obj/ArtSigner.csproj.nuget.g.props
obj/ArtSigner.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost
obj/Debug/net9.0/ArtSigner.AssemblyInfo.cs
obj/Debug/net9.0/ArtSigner.AssemblyInfoInputs.cache
obj/Debug/net9.0/ArtSigner.assets.cache
obj/Debug/net9.0/ArtSigner.csproj.AssemblyReference.cache
obj/Debug/net9.0/ArtSigner.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/ArtSigner.csproj.FileListAbsolute.txt
obj/Debug/net9.0/ArtSigner.csproj.Fody.CopyLocal.cache
obj/Debug/net9.0/ArtSigner.csproj.Fody.RuntimeCopyLocal.cache
obj/Debug/net9.0/ArtSigner.csproj.Up2Date
obj/Debug/net9.0/ArtSigner.dll
obj/Debug/net9.0/ArtSigner.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/ArtSigner.genruntimeconfig.cache
obj/Debug/net9.0/ArtSigner.pdb
obj/Debug/net9.0/Avalonia/references
obj/Debug/net9.0/Avalonia/resources
obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
obj/Debug/net9.0/ref/ArtSigner.dll
obj/Debug/net9.0/refint/ArtSigner.dll
WorkerWindow.axaml.cs
bin/Debug/net9.0/ArtSigner
bin/Debug/net9.0/ArtSigner.deps.json
bin/Debug/net9.0/ArtSigner.dll
bin/Debug/net9.0/ArtSigner.pdb
bin/Debug/net9.0/ArtSigner.runtimeconfig.json
bin/Debug/net9.0/Avalonia.Base.dll
bin/Debug/net9.0/Avalonia.Controls.ColorPicker.dll
bin/Debug/net9.0/Avalonia.Controls.dll
bin/Debug/net9.0/Avalonia.DesignerSupport.dll
bin/Debug/net9.0/Avalonia.Desktop.dll
bin/Debug/net9.0/Avalonia.Diagnostics.dll
bin/Debug/net9.0/Avalonia.Dialogs.dll
bin/Debug/net9.0/Avalonia.dll
bin/Debug/net9.0/Avalonia.Fonts.Inter.dll
bin/Debug/net9.0/Avalonia.FreeDesktop.dll
bin/Debug/net9.0/Avalonia.Markup.dll
bin/Debug/net9.0/Avalonia.Markup.Xaml.dll
bin/Debug/net9.0/Avalonia.Markup.Xaml.Loader.dll
bin/Debug/net9.0/Avalonia.Metal.dll
bin/Debug/net9.0/Avalonia.MicroCom.dll
bin/Debug/net9.0/Avalonia.Native.dll
bin/Debug/net9.0/Avalonia.OpenGL.dll
bin/Debug/net9.0/Avalonia.Remote.Protocol.dll
bin/Debug/net9.0/Avalonia.Skia.dll
bin/Debug/net9.0/Avalonia.Themes.Fluent.dll
bin/Debug/net9.0/Avalonia.Themes.Simple.dll
bin/Debug/net9.0/Avalonia.Vulkan.dll
bin/Debug/net9.0/Avalonia.Win32.Automation.dll
bin/Debug/net9.0/Avalonia.Win32.dll
bin/Debug/net9.0/Avalonia.X11.dll
bin/Debug/net9.0/HarfBuzzSharp.dll
bin/Debug/net9.0/HotAvalonia.Core.dll
bin/Debug/net9.0/Magick.NET-Q8-AnyCPU.dll
bin/Debug/net9.0/Magick.NET.Core.dll
bin/Debug/net9.0/MicroCom.Runtime.dll
bin/Debug/net9.0/SkiaSharp.dll
bin/Debug/net9.0/Tmds.DBus.Protocol.dll
bin/Debug/net9.0/runtimes/linux-arm/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-arm/native/libSkiaSharp.so
bin/Debug/net9.0/runtimes/linux-arm64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-arm64/native/libSkiaSharp.so
bin/Debug/net9.0/runtimes/linux-arm64/native/Magick.Native-Q8-arm64.dll.so
bin/Debug/net9.0/runtimes/linux-loongarch64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-musl-arm/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-musl-arm64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-musl-loongarch64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-musl-riscv64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-musl-x64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
bin/Debug/net9.0/runtimes/linux-musl-x64/native/Magick.Native-Q8-x64.dll.so
bin/Debug/net9.0/runtimes/linux-riscv64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-x64/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/linux-x64/native/libSkiaSharp.so
bin/Debug/net9.0/runtimes/linux-x64/native/Magick.Native-Q8-x64.dll.so
bin/Debug/net9.0/runtimes/linux-x86/native/libHarfBuzzSharp.so
bin/Debug/net9.0/runtimes/osx/native/libAvaloniaNative.dylib
bin/Debug/net9.0/runtimes/osx/native/libHarfBuzzSharp.dylib
bin/Debug/net9.0/runtimes/osx/native/libSkiaSharp.dylib
bin/Debug/net9.0/runtimes/osx-arm64/native/Magick.Native-Q8-arm64.dll.dylib
bin/Debug/net9.0/runtimes/osx-x64/native/Magick.Native-Q8-x64.dll.dylib
bin/Debug/net9.0/runtimes/win-arm64/native/av_libglesv2.dll
bin/Debug/net9.0/runtimes/win-arm64/native/libHarfBuzzSharp.dll
bin/Debug/net9.0/runtimes/win-arm64/native/libSkiaSharp.dll
bin/Debug/net9.0/runtimes/win-arm64/native/Magick.Native-Q8-arm64.dll
bin/Debug/net9.0/runtimes/win-x64/native/av_libglesv2.dll
bin/Debug/net9.0/runtimes/win-x64/native/libHarfBuzzSharp.dll
bin/Debug/net9.0/runtimes/win-x64/native/libSkiaSharp.dll
bin/Debug/net9.0/runtimes/win-x64/native/Magick.Native-Q8-x64.dll
bin/Debug/net9.0/runtimes/win-x86/native/av_libglesv2.dll
bin/Debug/net9.0/runtimes/win-x86/native/libHarfBuzzSharp.dll
bin/Debug/net9.0/runtimes/win-x86/native/libSkiaSharp.dll
bin/Debug/net9.0/runtimes/win-x86/native/Magick.Native-Q8-x86.dll
